@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Righteous&family=Josefin+Sans:ital,wght@0,100;0,300;1,500&display=swap');

body {
      font-family: "Josefin Sans", serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgb(157, 217, 220);
}

h1 {
      font-family: 'Lexend Mega', sans-serif;
      font-size: 48px;
      margin: 20px auto 10px auto;
      text-shadow: 3px 3px 4px rgba(51, 60, 130, 0.4);
}

h2 {
      font-size: 2em;
      margin: auto;
      margin-bottom: 6px;
}

h3 {
      padding: 5px;
      margin: 0 auto;
}

h4 {
      padding: 5px;
      margin: 0 auto;
}

p {
      padding: 0 5%;
      margin: 0 0;
}

.game-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: fit-content;
}

#player-2-score-box {
      background-color: rgb(222, 227, 230);
      border: 3px solid rgb(100, 100, 100);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 15%;
      margin: 0 3px;
      box-shadow: 0 0 10px rgba(51, 60, 130, 0.4);
}

#player-2-wins-box {
      background-color: rgb(222, 227, 230);
      border: 3px solid rgb(100, 100, 100);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 10%;
      margin: 0 30px 0 3px;
      box-shadow: 0 0 10px rgba(51, 60, 130, 0.4);
}

#message-box {
      background-color: rgb(222, 227, 230);
      border: 3px solid rgb(100, 100, 100);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      margin: 0 3px;
      font-size: 1.3em;
      padding: 15px;
      box-shadow: 0 0 10px rgba(51, 60, 130, 0.4);
}

#player-1-wins-box {
      background-color: rgb(222, 227, 230);
      border: 3px solid rgb(100, 100, 100);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 10%;
      margin: 0 3px 0 30px;
      box-shadow: 0 0 10px rgba(51, 60, 130, 0.4);
}

#player-1-score-box {
      background-color:rgb(222, 227, 230);
      border: 3px solid rgb(100, 100, 100);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 15%;
      margin: 0 3px;
      box-shadow: 0 0 10px rgba(51, 60, 130, 0.4);
}

.all-dice {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      width: 80%;
      height: 200px;
      margin: 40px auto;
}

.dice {
      min-width: 150px;
      min-height: 150px;
      margin: 10px;
}

.dice-1 {
      cursor: pointer;
      background-image: url("https://kevan.org/images/liarsdice/die1.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(8deg)
}

.dice-2 {
      cursor: pointer;
      background-image: url("https://kevan.org/images/liarsdice/die2.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(-5deg)
}

.dice-3 {
      cursor: pointer;
      background-image: url("https://kevan.org/images/liarsdice/die3.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(5deg)
}

.dice-4 {
      cursor: pointer;
      background-image: url("https://kevan.org/images/liarsdice/die4.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(-7deg)
}

.dice-5 {
      cursor: pointer;
      background-image: url("https://kevan.org/images/liarsdice/die5.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(6deg)
}

.dice-6 {
      cursor: pointer;
      background-image: url("https://kevan.org/images/liarsdice/die6.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(-3deg)
}

#buttons {
      font-family: "Josefin Sans", serif;
      width: 20%;
      min-width: 220px;
}

#roll-button {
      font-family: "Josefin Sans", serif;
      font-size: 1em;
      cursor: pointer;
      width: 200px;
      height: 50px;
      background-color: rgb(222, 227, 230);
      border-radius: 12px;
      margin: 0 20px;
}

#re-roll-button {
      font-family: "Josefin Sans", serif;
      font-size: 1em;
      cursor: pointer;
      width: 200px;
      height: 50px;
      background-color: rgb(222, 227, 230);
      border-radius: 12px;
      margin: 0 20px;
}

#reset-button {
      font-family: "Josefin Sans", serif;
      font-size: 1em;
      cursor: pointer;
      width: 200px;
      height: 50px;
      background-color: rgb(222, 227, 230);
      border-radius: 12px;
      margin: 0 20px;
}

#keep-score-button {
      font-family: "Josefin Sans", serif;
      font-size: 1em;
      cursor: pointer;
      width: 200px;
      height: 50px;
      background-color: rgb(222, 227, 230);
      border-radius: 12px;
      margin: 10px 20px;
}

#keep-rolling-button {
      font-family: "Josefin Sans", serif;
      font-size: 1em;
      cursor: pointer;
      width: 200px;
      height: 50px;
      background-color: rgb(222, 227, 230);
      border-radius: 12px;
      margin: 10px 20px;
}

.how-to-play {
      display: flex;
      /* align-items: center; */
      justify-content: space-around;
      flex-direction: row;
      width: 100vw;
}

#rules {
      width: 40%;
      background-color: rgb(222, 227, 230);
      border: 3px solid rgb(100, 100, 100);
      border-radius: 10px;
      margin: 0 20px;
      padding-bottom: 5px;
      box-shadow: 20px 20px 5px rgba(51, 60, 130, 0.4);
}

#scoring {
      width: 40%;
      background-color: rgb(222, 227, 230);
      border: 3px solid rgb(100, 100, 100);
      border-radius: 10px;
      margin: 0 20px;
      padding-bottom: 5px;
      box-shadow: -20px 20px 5px rgba(51, 60, 130, 0.4);
}

.red {
      border-radius: 25px;
      box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.4);
}

.frozen {
      cursor: default;
      border-radius: 25px;
      box-shadow: inset 0 0 0 1000px rgba(0, 20, 100, 0.4);
}

.gray {
      cursor: default;
      border-radius: 25px;
      box-shadow: inset 0 0 0 1000px rgba(106, 106, 106, 0.4);
}

.hidden {
      display: none;
}