body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgb(183, 217, 232);
}

.game-info {
      display: grid;
      grid-template-columns: 15% 10% 1fr 10% 15%;
      width: 100%;
      height: 102px;
}

#player-2-score-box {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
}

#player-2-wins-box {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
}

#message-box {
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
}

#player-1-wins-box {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
}

#player-1-score-box {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
}

h3 {
      padding: 5px;
      margin: 0 auto;
}

h4 {
      padding: 5px;
      margin: 0 auto;
}

h2 {
      font-size: 2em;
      margin: auto;
}

.all-dice {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      width: 80%;
      height: 200px;
      margin: auto;
}

.dice {
      min-width: 150px;
      min-height: 150px;
      margin: 10px;
}

#roll-button {
      width: 150px;
      height: 40px;
      border-radius: 10px;
}

#re-roll-button {
      width: 150px;
      height: 40px;
      border-radius: 10px;
}

#reset-button {
      width: 150px;
      height: 40px;
      border-radius: 10px;
}

#keep-score-button {
      width: 200px;
      height: 50px;
      border-radius: 12px;
      margin: 10px;
}

.dice-1 {
      background-image: url("https://kevan.org/images/liarsdice/die1.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(8deg)
}

.dice-2 {
      background-image: url("https://kevan.org/images/liarsdice/die2.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(-5deg)
}

.dice-3 {
      background-image: url("https://kevan.org/images/liarsdice/die3.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(5deg)
}

.dice-4 {
      background-image: url("https://kevan.org/images/liarsdice/die4.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(-7deg)
}

.dice-5 {
      background-image: url("https://kevan.org/images/liarsdice/die5.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(6deg)
}

.dice-6 {
      background-image: url("https://kevan.org/images/liarsdice/die6.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(-3deg)
}

.hidden {
      display: none;
}

.red {
      border-radius: 25px;
      box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.4);
}

.frozen {
      border-radius: 25px;
      box-shadow: inset 0 0 0 1000px rgba(100, 0, 0, 0.4);
}

.gray {
      border-radius: 25px;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.how-to-play {
      display: grid;
      grid-template-columns: 40% 20% 40%;
      width: 100vw;
}

p {
      padding: 0 5%;
      margin: 0 0;
}

#buttons {
      min-width: 220px;
}